{%- if customer == nil -%}
  <script>
    window.location = '{{ routes.account_login_url }}?return_url={{ request.path | url_encode }}';
  </script>
  <noscript>
    <meta http-equiv="refresh" content="0;url={{ routes.account_login_url }}?return_url={{ request.path | url_encode }}">
  </noscript>
{%- else -%}

  {%- comment -%}
    Only logged-in customers can see the content below
  {%- endcomment -%}

  {% layout 'theme' %}

  <h1>{{ page.title }}</h1>

  <p>Welcome, {{ customer.email }}. This is your custom page.</p>

  <div>
    {{ page.content }}
  </div>

{%- endif -%}